@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@layer base {
  .inputCustom {
    @apply rounded border border-grey-400 px-4 py-3
        placeholder:text-grey-500

        hover/focus:border-orange-300
        hover:shadow-inputHover

        focus:border-[1.2px]
        focus:outline-none

        disabled:bg-grey-200
        disabled:text-grey-700;
  }

  .textButtonPrimary {
    @apply py-3 px-[14px] text-M/Bold text-orange-500;
  }
  .ButtonPrimary {
    @apply min-w-[102px] rounded bg-orange-500 p-2.5 py-3 text-M/Bold text-white;
  }
}

#loader {
  margin: 27px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fd6b26, 1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2),
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.7), 1.8em -1.8em 0 0em #fd6b26,
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.5),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7), 2.5em 0em 0 0em #fd6b26,
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5), 2.5em 0em 0 0em rgba(253, 107, 38, 0.7),
      1.75em 1.75em 0 0em #fd6b26, 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.5),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.7), 0em 2.5em 0 0em #fd6b26,
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.5), 0em 2.5em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em 1.8em 0 0em #fd6b26, -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.7), -2.6em 0em 0 0em #fd6b26,
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.5), -2.6em 0em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em -1.8em 0 0em #fd6b26;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fd6b26, 1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2),
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.7), 1.8em -1.8em 0 0em #fd6b26,
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.5),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7), 2.5em 0em 0 0em #fd6b26,
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5), 2.5em 0em 0 0em rgba(253, 107, 38, 0.7),
      1.75em 1.75em 0 0em #fd6b26, 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.5),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.7), 0em 2.5em 0 0em #fd6b26,
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.5), 0em 2.5em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em 1.8em 0 0em #fd6b26, -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.7), -2.6em 0em 0 0em #fd6b26,
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.5), -2.6em 0em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em -1.8em 0 0em #fd6b26;
  }
}
