@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer base {
  html {
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
      'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', sans-serif;
  }
}

@layer base {
  .container {
    @apply mx-auto my-0 min-w-[1180px] max-w-[1180px];
  }
  .container-common {
    @apply m-auto min-w-[1320px] max-w-[1320px];
  }
}

@layer components {
  /*Checkbox*/
  .checkboxCustom {
    @apply hidden;
  }
  .checkboxCustom-label {
    @apply inline-block bg-no-repeat bg-svg-Filled/CheckSquareUnchecked-grey-500 peer-checked:bg-svg-Filled/CheckSquare-orange-500;
  }

  /*input*/
  .inputCustom-label {
    @apply ml-0.5 text-S/Medium text-grey-800;
  }
  .inputCustom-textbox {
    @apply rounded border border-grey-400 px-4 py-3
    placeholder:text-grey-500

    read-only/disabled:bg-grey-200
    read-only/disabled:text-grey-700

    hover:border-orange-300
    hover:shadow-inputHover

    read-only/disabled:hover:border-grey-400
    read-only/disabled:hover/focus:shadow-none
    focus:border-[1.2px]
    focus:border-orange-300

    focus:outline-none
    read-only/disabled:focus:border-grey-400;
  }

  .inputCustom-textbox.error {
    @apply rounded border border-red-500 px-4 py-3
    placeholder:text-grey-500;
  }
  .inputCustom-helptext {
    @apply ml-1 text-S/Medium text-red-500;
  }

  /* Term */
  .termsCheckbox {
    @apply hidden;
  }
  .termsHeaderCheckbox-label {
    @apply inline-block bg-[length:20px_20px] bg-[left_top_50%] bg-no-repeat pl-[26px] text-M/Medium bg-svg-Filled/CheckSquare-grey-400 peer-checked:bg-svg-Filled/CheckSquare-green-600;
  }
  .termsBodyCheckbox-label {
    @apply inline-block bg-[length:16px_16px] bg-[left_top_50%] bg-no-repeat pl-[22px]  text-S/Regular bg-svg-Outlined/Check-grey-400 peer-checked:bg-svg-Outlined/Check-green-600;
  }

  /* iconButton */
  .iconButton-large-normal-ghost-grey svg {
    @apply h-6 w-6 fill-grey-600;
  }

  .iconButton-medium-normal-ghost-grey svg {
    @apply h-4 w-4 fill-grey-800;
  }
  /* @/pages/report/DetailReport.tsx에서 title에 사용되는 태그 */
  .detailReport-h1-header {
    @apply relative flex items-center text-XL/Bold text-black;
    /* @apply text-XL/Bold text-black ; */
  }
  .detailReport-h1-header svg {
    @apply h-4 w-4 fill-grey-500;
  }
}

#loader {
  margin: 27px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fd6b26, 1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2),
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.7), 1.8em -1.8em 0 0em #fd6b26,
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.5),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7), 2.5em 0em 0 0em #fd6b26,
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5), 2.5em 0em 0 0em rgba(253, 107, 38, 0.7),
      1.75em 1.75em 0 0em #fd6b26, 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.5),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.7), 0em 2.5em 0 0em #fd6b26,
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.5), 0em 2.5em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em 1.8em 0 0em #fd6b26, -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.7), -2.6em 0em 0 0em #fd6b26,
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.5), -2.6em 0em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em -1.8em 0 0em #fd6b26;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #fd6b26, 1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2),
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.7), 1.8em -1.8em 0 0em #fd6b26,
      2.5em 0em 0 0em rgba(253, 107, 38, 0.2), 1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2),
      0em 2.5em 0 0em rgba(253, 107, 38, 0.2), -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2),
      -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.5),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.7), 2.5em 0em 0 0em #fd6b26,
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.5), 2.5em 0em 0 0em rgba(253, 107, 38, 0.7),
      1.75em 1.75em 0 0em #fd6b26, 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.5),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.7), 0em 2.5em 0 0em #fd6b26,
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.2), -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.5), 0em 2.5em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em 1.8em 0 0em #fd6b26, -2.6em 0em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.5),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.7), -2.6em 0em 0 0em #fd6b26,
      -1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(253, 107, 38, 0.2),
      1.8em -1.8em 0 0em rgba(253, 107, 38, 0.2), 2.5em 0em 0 0em rgba(253, 107, 38, 0.2),
      1.75em 1.75em 0 0em rgba(253, 107, 38, 0.2), 0em 2.5em 0 0em rgba(253, 107, 38, 0.2),
      -1.8em 1.8em 0 0em rgba(253, 107, 38, 0.5), -2.6em 0em 0 0em rgba(253, 107, 38, 0.7),
      -1.8em -1.8em 0 0em #fd6b26;
  }
}
