@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-width: auto !important;
}

html {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

*, :before, :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

html,
body,
#root,
main {
  height: 100%;
  padding: 0;
  margin: 0;
  /* min-width: 1000px; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* chrome input auto box shadow 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}
input:-webkit-autofill:disabled {
  -webkit-box-shadow: 0 0 0 40px #f5f5f5 inset !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}

#google-login-button iframe {
  height: 100px !important;
  transform: scale(1.5);
  transform-origin: top;
}

#moving-letter {
  animation: marquee 4s linear infinite;
}

@keyframes marquee {
  50% {
    transform: translateX(100px) rotateY(0deg);
  }
  150% {
    transform: translateX(90px) rotateY(10deg);
  }
}

@layer base {
  .container {
    @apply mx-auto my-0 min-w-[360px] max-w-[1180px];
  }
  .container-common {
    @apply m-auto w-full min-w-[360px] max-w-[1320px];
  }

  button[id^='select-box'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: 50%;
    background-size: 12px;
  }

  /* 토스트 알림 */
  .Toastify__toast-body {
    @apply !p-0;
  }

  /* 툴팁 */
  .react-tooltip {
    @apply !rounded-[3px] !border-[1px] !border-grey-200 !bg-white !px-4 !py-4 !text-XS/Regular !text-grey-900;
  }
}

@layer components {
  /*Checkbox*/
  .checkboxCustom {
    @apply hidden;
  }
  .checkboxCustom-label {
    @apply inline-block bg-no-repeat bg-svg-Filled/CheckSquareUnchecked-grey-500 peer-checked:bg-svg-Filled/CheckSquare-purple-500;
  }

  /*input*/
  .inputCustom-group {
    @apply space-y-1;
  }
  .inputCustom-label {
    @apply ml-0.5 text-S/Medium text-grey-800;
  }
  .inputCustom-textbox-wrap {
    @apply relative xs:text-S/Medium;
  }
  .inputCustom-textbox {
    @apply rounded border border-grey-400 px-4 py-3
    placeholder:text-grey-500

    read-only/disabled:bg-grey-200
    read-only/disabled:text-grey-700

    hover:border-purple-300
    hover:shadow-inputHover

    read-only/disabled:hover:border-grey-400
    read-only/disabled:hover/focus:shadow-none
    focus:border-[1.2px]
    focus:border-purple-300

    focus:outline-none
    read-only/disabled:focus:border-grey-400;
  }
  .inputCustom-textbox.error {
    @apply rounded border border-red-500 py-3 pl-4 pr-11
    placeholder:text-grey-500;
  }
  .inputCustom-icon {
    @apply absolute right-4 top-1/2 translate-y-[-50%];
  }
  .inputCustom-helptext {
    @apply ml-1 text-S/Medium text-red-500;
  }

  /* Term */
  .termsCheckbox {
    @apply hidden;
  }
  .termsHeaderCheckbox-label {
    @apply inline-block bg-[length:20px_20px] bg-[left_top_50%] bg-no-repeat pl-[26px] text-M/Medium bg-svg-Filled/CheckSquare-grey-400 peer-checked:bg-svg-Filled/CheckSquare-green-600;
  }
  .termsBodyCheckbox-label {
    @apply inline-block bg-[length:16px_16px] bg-[left_top_50%] bg-no-repeat pl-[22px]  text-S/Regular bg-svg-Outlined/Check-grey-400 peer-checked:bg-svg-Outlined/Check-green-600;
  }

  /* iconButton */
  .iconButton-large-normal-ghost-grey svg {
    @apply h-6 w-6 fill-grey-600;
  }

  .iconButton-medium-normal-ghost-grey svg {
    @apply h-4 w-4 fill-grey-800;
  }
  /* @/pages/report/DetailReportPage.tsx에서 title에 사용되는 태그 */
  .detailReport-h1-header {
    @apply relative -mt-[125px] flex items-center pt-[125px] text-XL/Bold text-black;
  }
  .detailReport-h1-header svg {
    @apply h-4 w-4 fill-grey-500;
  }
  .tooltip-container {
    @apply relative ml-[5px] xs:hidden;
  }
  .tooltip-container .react-tooltip {
    @apply z-10;
  }
  .keywordInfo-span-subtitle {
    @apply flex h-10 w-full items-center bg-grey-100 pl-5 text-left text-S/Medium text-grey-900;
  }
  .keywordInfo-divide-by-single-dot:nth-child(even) {
    @apply relative ml-[18px];
  }
  .keywordInfo-divide-by-single-dot:nth-child(even) {
    @apply before:absolute before:left-[-8px] before:top-1/2 before:h-0.5 before:w-0.5 before:translate-y-[-50%] before:bg-grey-700 before:content-[''];
  }
}