@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply max-w-[1440px] px-[60px] sm:max-w-[540px] sm:px-[24px]
        md:max-w-[768px] md:px-[24px] lg:max-w-[992px] lg:px-[12px];
  }
}

@layer components {
  .container-tab {
    @apply sm:px-[24px] md:px-[24px] lg:px-[12px];
  }
}

.gradientTitle {
  background: linear-gradient(90deg, #ff5401 0%, #ff8a00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-main {
  background-image: url('/assets/images/Section9/Background.png');
}
