*{font-size: 16px; line-height: 1.5; color: #262626;}


/*
 * 웹 페이지 전체 체크박스를 커스터마이징 - CSS
 */

input[type="checkbox"] {
    display:none;
}


input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3819 8.27344H15.2827C15.0436 8.27344 14.8163 8.38828 14.6757 8.58516L10.9913 13.6945L9.32252 11.3789C9.18189 11.1844 8.95689 11.0672 8.71549 11.0672H7.61626C7.46392 11.0672 7.37486 11.2406 7.46392 11.3648L10.3842 15.4148C10.4532 15.5111 10.5442 15.5896 10.6495 15.6437C10.7549 15.6978 10.8717 15.7261 10.9901 15.7261C11.1086 15.7261 11.2253 15.6978 11.3307 15.6437C11.436 15.5896 11.527 15.5111 11.596 15.4148L16.5319 8.57109C16.6233 8.44688 16.5343 8.27344 16.3819 8.27344Z' fill='%23D9D9D9'/%3E%3Cpath d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    background-size: 1.3125rem;
    background-position-y: 50%;
}

input[type="checkbox"]:checked + label {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3819 8.27344H15.2827C15.0436 8.27344 14.8163 8.38828 14.6757 8.58516L10.9913 13.6945L9.32252 11.3789C9.18189 11.1844 8.95689 11.0672 8.71549 11.0672H7.61626C7.46392 11.0672 7.37486 11.2406 7.46392 11.3648L10.3842 15.4148C10.4532 15.5111 10.5442 15.5896 10.6495 15.6437C10.7549 15.6978 10.8717 15.7261 10.9901 15.7261C11.1086 15.7261 11.2253 15.6978 11.3307 15.6437C11.436 15.5896 11.527 15.5111 11.596 15.4148L16.5319 8.57109C16.6233 8.44688 16.5343 8.27344 16.3819 8.27344Z' fill='%2372C040'/%3E%3Cpath d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z' fill='%2372C040'/%3E%3C/svg%3E%0A");
}

input[type="checkbox"]:disabled + label {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3819 8.27344H15.2827C15.0436 8.27344 14.8163 8.38828 14.6757 8.58516L10.9913 13.6945L9.32252 11.3789C9.18189 11.1844 8.95689 11.0672 8.71549 11.0672H7.61626C7.46392 11.0672 7.37486 11.2406 7.46392 11.3648L10.3842 15.4148C10.4532 15.5111 10.5442 15.5896 10.6495 15.6437C10.7549 15.6978 10.8717 15.7261 10.9901 15.7261C11.1086 15.7261 11.2253 15.6978 11.3307 15.6437C11.436 15.5896 11.527 15.5111 11.596 15.4148L16.5319 8.57109C16.6233 8.44688 16.5343 8.27344 16.3819 8.27344Z' fill='%23D9D9D9'/%3E%3Cpath d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

input[type="checkbox"]:checked:disabled + label {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3819 8.27344H15.2827C15.0436 8.27344 14.8163 8.38828 14.6757 8.58516L10.9913 13.6945L9.32252 11.3789C9.18189 11.1844 8.95689 11.0672 8.71549 11.0672H7.61626C7.46392 11.0672 7.37486 11.2406 7.46392 11.3648L10.3842 15.4148C10.4532 15.5111 10.5442 15.5896 10.6495 15.6437C10.7549 15.6978 10.8717 15.7261 10.9901 15.7261C11.1086 15.7261 11.2253 15.6978 11.3307 15.6437C11.436 15.5896 11.527 15.5111 11.596 15.4148L16.5319 8.57109C16.6233 8.44688 16.5343 8.27344 16.3819 8.27344Z' fill='%23D9D9D9'/%3E%3Cpath d='M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

/* 하단 결과 영역 시작 */
.search-result-warp{
    margin: 5rem 0;
}

.search-result-warp .search-result+.search-result{
    margin-top: 2.5rem;
}


/* 검색 결과 공통 시작 */
.search-info-box {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}
.search-info-wrap .search-thumb {display: flex;align-items: center;justify-content: center;}

.search-info-wrap .search-thumb li {
    width: 6vw;
    height: 6vw;
    background: #D9D9D9;
    border-radius: 100%;
    float: left;
    border: 2px solid #FFFFFF;
    max-width: 96px;
    max-height: 96px;
}

.search-info-wrap .search-thumb li+li {
    margin-right: -10px;
}



.search-info-wrap .search-count {
    font-weight: 500;
}

.search-info-wrap .search-count .resent {
    color: #8C8C8C;
}

.search-info-wrap .search-keyword {}

.search-info-wrap .search-thumb ul {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
}
/* 검색 결과 공통 끝 */


/* 상단 가장 많이 검색된 결과 시작 */
.main-result {
    margin-bottom: 1.5rem;
}
.main-result .title {
    margin-bottom: 1.5rem;

}
.main-result .title h3{
    display: inline-block;
}
/* 상단 가장 많이 검색된 결과 끝 */

/* 연관 키워드 시작 */
.sub-result .title {margin-bottom: 1rem;}


.sub-result .search-info-box {
    width: calc(100% / 6 - 1rem);
    float: left;
    flex-direction: column;
    flex-grow: 0;
    min-width: 200px;
}

.sub-result .search-info-box .search-thumb li {
    width: 3rem;
    height: 3rem;
}

.sub-result .search-info-wrap {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.sub-result .search-info-box+.search-info-box {
    margin-left: 1rem;
}

.sub-result .transfer-language {
    margin-bottom: 2.5rem;
}

.sub-result .search-count {
    margin-top: 0.5rem;
}

.sub-result  .user-language {
    margin-bottom: 0.5rem;
}

.sub-result  .search-thumb {
    margin-bottom: 0.5rem;
}
/* 연관 키워드 끝 */

/* 하단 선택한 키워드 네비 시작 */
.select-keyword-bottom-nav{
    border: 1px solid #CCCCCC;
    padding: 1.125rem 3.125rem;
    align-items: center;
    justify-content: space-between;
}
.select-keyword-bottom-nav>div{
    align-items: center;
    justify-content: space-between;
}

.select-keyword-bottom-nav .select-keyword-item {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 0.5625rem 1rem;
    float: left;
    display: inline-block;
}
.select-keyword-bottom-nav .select-keyword-item {
  margin:  0.125rem;
}
.select-keyword-bottom-nav .search-btn{
    background: #FF5100;
    border-radius: 4px;
    border: 0;
}
.select-keyword-bottom-nav .search-btn span{
    color: #FFFFFF;
}
/* 하단 선택한 키워드 네비 끝 */
